{% extends 'base.html' %}

{% block meta %}
<title>Tugas Baru</title>
{% endblock meta %}

{% block content %}

<div class = "create_task">

    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5 align-items-center justify-content-center">
                        <div class="card align-items-center justify-content-center" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center align-items-center justify-content-center">
                                <h1 style="text-align: center">Create Task</h1>
                                <table rules="all", style="text-align: center">
                                    {{ form.as_div }}
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                                <input class="btn btn-light" type="submit" value="Submit">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-light"><a href="{% url 'todolist:show_todolist' %}">Kembali</a></button>

{% endblock content %}