{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    
    <form method="POST" >  
        {% csrf_token %}  
        <div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
            <div class="container fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card d-flex" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <table>  
                                        <h1>Formulir Registrasi</h1>  
                                        {{ form.as_table }}  
                                        <tr>  
                                            <td></td>
                                            <td><input class="btn btn-light" type="submit" name="submit" value="Daftar"/></td>  
                                        </tr>  
                                    </table>  
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}