{% extends 'base.html' %}

{% block meta %}
<title>Daftar Tugas</title>
{% endblock meta %}

 {% block content %}

<style>
  .card:hover {
  transition: transform .5s;
  background-color: lightgray
  }
  
</style>
<body>
{% if user.is_authenticated %}
    <div class="container justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center">
            <div class="card-body p-5 text-center">
                <div class="row align-items-center justify-content-center">
                    <h2>Tugas 4 Assignment PBP/PBD</h2>
                    <h5>Selamat datang, {{ user.get_username }}. Ini dia tugasmu!</h5>
                    <button id="modalButton" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#create-modal">Create Task</button>
                    <div id="task-cards" class="mask d-flex align-items-center h-5000"></div>
                    <button class="btn btn-light"><a href="{% url 'todolist:logout' %}">Logout</a></button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-label">Buat Tugas Baru</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/todolist/add/" id="create-taskform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="task-name" class="col-form-label">Task Name:</label>
                            <input type="text" class="form-control" id="title_ajax" name="title_ajax" form="create-taskform">
                        </div>
                        <div class="form-group">
                            <label for="task-description" class="col-form-label">Task Description:</label>
                            <input class="form-control" id="description_ajax" name="description_ajax" form="create-taskform">
                        </div>
                        <div class="form-group" style="padding-top: 5px;">
                            <button type="submit" class="btn btn-primary" id="create-button">Create</button>
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function getJSON() {
        var data = null;
        $.ajax({
            type: 'GET',
            url: '/todolist/json',
            dataType: 'json',
            async: false,
            success: function (response) {
                data = response;
            }
        });
        return data;
    }
    async function addCards() {
        document.getElementById("task-cards").innerHTML = ""
        let tasks = getJSON();
        console.log(tasks);

        for (let i = 0; i < tasks.length; i++) {
            let card = document.createElement("div");
            card.classList.add("card");
            card.classList.add("w-75");
            card.classList.add("mb-4");
            card.classList.add("flex-row");
            card.classList.add("text-center");

            let row = document.createElement("div");
            row.classList.add("row");
            row.classList.add("g-0");
            row.classList.add("d-flex");
            row.classList.add("align-items-center");
            row.classList.add("justify-content-center");

            let body = document.createElement("div");
            body.classList.add("card-body");
            body.classList.add("mb-4");

            let title = document.createElement("h4");
            title.classList.add("card-title");
            title.innerHTML = tasks[i].fields.title;
            console.log(tasks[i].title);

            let date = document.createElement("p");
            date.classList.add("card-text");
            date.innerHTML = tasks[i].fields.date;
            console.log(tasks[i].date);

            let description = document.createElement("p");
            description.classList.add("card-text");
            description.innerHTML = tasks[i].fields.description;
            console.log(tasks[i].description);

            let subtitle = document.createElement("h5");
            subtitle.classList.add("card-subtitle");
            if (tasks[i].fields.is_finished) {
                subtitle.innerHTML = "Finished";
            } else {
                subtitle.innerHTML = "Not Finished";
            }

            let marker = document.createElement("a");
            marker.href = "/todolist/marker/" + tasks[i].pk;
            marker.classList.add("btn");
            marker.classList.add("btn-light");
            marker.innerHTML = "Finished";

            let deleter = document.createElement("a");
            deleter.href = "/todolist/delete/" + tasks[i].pk;
            deleter.classList.add("btn");
            deleter.classList.add("btn-light");
            deleter.innerHTML = "Delete";

            body.appendChild(title);
            body.appendChild(date);
            body.appendChild(subtitle);
            body.appendChild(description);
            body.appendChild(marker);
            body.appendChild(deleter);
            card.appendChild(body);
            card.appendChild(row);
            document.getElementById("task-cards").appendChild(card);
        }
    }
$(document).ready(() => {
    addCards()

    $("#create-taskform").on('submit', function() {
    event.preventDefault();
    var form = $(this);
    url = form.attr('action');
    method = form.attr('method');
    data = {};

    form.find('[name]').each(function(index, value) {
      var that = $(this);
      name = that.attr('name');
      value = that.val();
      data[name] = value;
    });
    
    $.ajax({
      url: url,
      type: method,
      data: data,
      success: function(response) {
        console.log(response);
        alert("Done!")
        addCards();
        $('#create-modal').modal('hide');
        $('#create-taskform')[0].reset();
      }
    });
    });
});
</script>
</body>
{% endblock content %}
