{% extends 'base.html' %}

{% block meta %}
<title>Daftar Tugas</title>
{% endblock meta %}

 {% block content %}

<style>
  table, th, td {
  border: 1px solid black;
  }
  .card:hover {
  transition: transform .5s;
  background-color: lightgray
  }
  
</style>

{% if user.is_authenticated %}
<div class="mask d-flex align-items-center h-100" style="background-color: white;">
  <div class="container justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
        <div class="card-body p-5 text-center">
          <div class="row align-items-center justify-content-center">
            <h1>Tugas 4 Assignment PBP/PBD</h1>
              <h3>Selamat datang, {{ user.get_username }}. Ini dia tugasmu!</h3>
                        {% for task in list_task %}
                        <div class="card w-75 text-center align-items-center justify-content-center">
                                <div class="card-body mb-4">
                                    <h4 class="card-title">{{task.title}}</h4>
                                    <p> {{task.date}} </p>
                                    <p> {{task.description}} </p>
                                    {% if task.is_finished %}
                                        <h5>Finished</h5>
                                    {% else %}
                                        <h5>Not Finished</h5>
                                    {% endif %}
                                    <button class="btn btn-light">
                                        <a href="{% url 'todolist:marker' task.id %}">Finished</a>
                                    </button>
                                    <button class="btn btn-light">
                                        <a href="{% url 'todolist:delete' task.id %}">Delete</a>
                                    </button>
                                </div>
                        </div>
                        {% endfor %}
                    <div class="title mt-6">
                        <div>
                            <button class="btn btn-light">
                                <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
                            </button>
                            <button class="btn btn-light">
                                <a href="{% url 'todolist:logout' %}">Logout</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
</div>
</div>

{% endif %}

 {% endblock content %}
