{% extends 'base.html' %}
{% load static %}
{% include 'navbar.html' %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
                    <h1 align="center">Selamat datang!</h1>
                    <h3 align="center">Di Aplikasi milik Moreno!</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}