<nav class="navbar bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'example_app:index' %}">Tugas Pemrograman Berbasis Platform - morenoraw</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <button class="btn btn-light"><a href="{% url 'example_app:index' %}">Home</a></button> 
      <button class="btn btn-light"><a href="{% url 'katalog:show_catalog' %}">Katalog</a></button> 
      <button class="btn btn-light"><a href="{% url 'mywatchlist:show_watchlist' %}">My Watchlist</a></button> 
      <button class="btn btn-light"><a href="{% url 'todolist:show_todolist' %}">My Todolist</a></button> 
  </div>
</nav>